<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Изменение пользователя</title>
</head>
<body>
<h2>Заполните информацию о пользователе</h2>
<br>
<form th:action="@{/users/save}" th:object="${user}" th:method="post">

  <input type="hidden" th:value="${user.id}" th:attr="name='id'"/>

  <label for="name">Имя</label>
  <input type="text" th:field="*{name}" name="name" id="name" />

  <br>

  <label for="lastname">Фамилия</label>
  <input type="text" th:field="*{lastname}" name="lastname" id="lastname" />

  <br>

  <label for="age">Возраст</label>
  <input type="number" th:field="*{age}" name="lastname" id="age" />

  <br>

  <label for="smoking">Курит ли пользователь?</label>

  <input type="text" id="smoking" th:field="*{smoking}" name="smoking" />

  <br>

  <input type="submit" value="Сохранить изменения"/>

</form>
</body>
</html>